<ion-header>
  <ion-toolbar color="light">
    <ion-title class="title">Meu Cartão </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-card>
      <img src="assets/karina.jpg" alt="Minha foto" />

      <ion-card-header>
        <ion-card-title>Karina dos Santos Jordao</ion-card-title>
        <ion-card-subtitle>
          Código de Turma: 24104936 <br />
          Unidade: Campo Grande <br />
          Horário: Manhã
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-button expand="block" color="medium" routerLink="/home">
      Voltar
    </ion-button>
  </div>
</ion-content>
