ion-content {
  --background: #f7d5f2; /* fundo claro opcional */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 16px;
}

h1 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #dd538d;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  gap: 14px; /* espaçamento entre os botões */
}

ion-button {
  font-size: 16px;
  --background: #dd538d; /* cor padrão */
  --background-hover: #c1457f; /* cor quando o mouse passa */
  --background-activated: #c1457f; /* cor quando clica */
  --background-focused: #dd538d; /* cor quando focado */
  --color: white; /* cor do texto */
  border-radius: 10px;
  width: 100%;
}

